<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/84e1b1cd2e6ee1dz6.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="detail-covider-header">
    <h1>Sửa Gói Nhu Yếu Phẩm</h1>
    <a
      class="btn btn-primary button detail-covider-back"
      href="/package-product"
      role="button"
    >Go back list</a>
  </div>
  {{#if data}}
    <form
      class="add-covider"
      method="POST"
      action="/package-product/edit/{{data.Goi_id}}?_method=PUT"
    >
      <div class="form-group">
        <label for="formGroupExampleInput">Tên Gói Nhu Yếu Phẩm</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          value="{{data.ten}}"
          name="ten"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Giới Hạn Số Lượng</label>
        <input
          type="number"
          class="form-control"
          id="formGroupExampleInput2"
          value="{{data.gioihan_goi}}"
          name="gioihan_goi"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Thời Gian Giới Hạn</label>
        <select name="thoigian" id="">
          <option {{ifeq data.thoigian "Ngày"}} value="Ngày">Ngày</option>
          <option {{ifeq data.thoigian "Tuần"}} value="Tuần">Tuần</option>
          <option {{ifeq data.thoigian "Tháng"}} value="Tháng">Tháng</option>
        </select>
      </div>
  
      <label for="formGroupExampleInput2">Các sản phẩm trong gói hàng: </label>
      {{#unless products}}
        link tới chổ thêm sp
      {{else}}
        <div class="multiselect">
          <div class="selectBox" onclick="showCheckboxes()">
            <select>
              <option>-- Sửa các sản phẩm</option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div id="checkboxes">
            {{#each products}}
              <label for="{{this.SP_id}}">
                <input
                  type="checkbox"
                  id="{{this.SP_id}}"
                  value="{{this.SP_id}}"
                  name="DS_sp_id"
                  {{#if this.selected }}checked{{/if}}
                />{{this.SP_id}}
                /
                {{this.ten}}
                /
                {{this.gia}}
                /
                {{this.donvi}}</label><br />
            {{/each}}
          </div>
        </div>
      {{/unless}}
    <button type="submit" class="btn btn-primary add-package-submit-1">Sửa gói
        nhu yếu phẩm</button>
    </form>
    </div>
  {{/if}}

<script>var expanded = false; function showCheckboxes() { var checkboxes =
  document.getElementById("checkboxes"); if (!expanded) {
  checkboxes.style.display = "block"; expanded = true; } else {
  checkboxes.style.display = "none"; expanded = false; } }</script>