<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/84e1b1cd2e6ee1dz6.jpg"
      alt="khaulenh"
    />
  </div>
  <div>
    <div class="list-product-header">
      <h1>Danh Sách Các Gói Nhu Yếu Phẩm</h1>
    </div>
    <div class="list-product-features">
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2 search-product"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="q"
        />
        <button
          class="btn btn-primary my-2 my-sm-0 list-product-button"
          type="submit"
        >Search</button>
      </form>
      <a
        class="btn btn-primary covid-list-btn-add btn-sm list-product-button"
        href="/package-product/add"
        role="button"
      >Add package</a>
      <form action="" method="GET">
        <select
          class="form-select covid-list-select list-product-button"
          aria-label="Default select example"
          onchange="this.form.submit()"
          name="sort"
        >
          <option selected>Sắp Xếp</option>
          <option value="">Mặc Định</option>
          <option value="ASC">Tên A-Z</option>
          <option value="DESC">Tên Z-A</option>
        </select>
      </form>
    </div>
    <div class="list-product-list">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Package ID</th>
            <th scope="col">Tên Gói</th>
            <th scope="col">Giới hạn số lượng</th>
            <th scope="col">Thời Gian GH</th>
            <th width="10%" scope="col">Chức Năng</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
            <tr>
              <th scope="row">{{this.Goi_id}}</th>
              <td><a
                  class="btn btn-link"
                  href="/package-product/view/{{this.Goi_id}}"
                  role="button"
                >{{this.ten}}</a></td>
              <td>{{this.gioihan_goi}}</td>
              <td>{{this.thoigian}}</td>
              <td>
                <div class="list-product-action">
                  <a
                    class="btn btn-primary package-list-btn btn-sm"
                    href="/package-product/view/{{this.Goi_id}}"
                    role="button"
                  >View</a>
                  <a
                    class="btn btn-primary package-list-btn btn-sm"
                    href="/package-product/edit/{{this.Goi_id}}"
                    role="button"
                  >Edit</a>
                  <a
                    class="btn btn-primary package-list-btn btn-sm"
                    href="/package-product/delete/{{this.Goi_id}}"
                    role="button"
                  >Delete</a>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>