<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/c9e3d2ba15c4bb2dz1.jpg"
      alt="khaulenh"
    />
  </div>
  <div>
    <div class="list-product-header">
      <h1>Danh Sách Chi Tiết Về Gói Nhu Yếu Phẩm {ID ở đây}</h1>
    </div>
    <div class="list-product-list">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Tên Sản Phẩm</th>
            <th scope="col">Hình Ảnh Sản Phẩm</th>
            <th scope="col">Số Lượng</th>
            <th scope="col">Giá</th>
            <th scope="col">Định Lượng</th>
          </tr>
        </thead>
        <tbody>
          {{#each dataListProduct}}
            <tr>
              <th scope="row">{{this.id}}</th>
              <td>{{this.productName}}</td>
              <td>
                {{#each images}}
                  <img src="{{this}}" alt="hinhanh" width="100" height="100" />
                {{/each}}
              </td>
              <td>{{this.quantity}}</td>
              <td>{{this.price}} vnd</td>
              <td>{{this.quantitative}}</td>
            </tr>
          {{/each}}
          <tr>
            <th scope="row">P-01</th>
            <td>Rượu Volka</td>
            <td>
              <img
                src="https://minhcaumart.vn/media/com_eshop/products/Ru%20Vodka%20Men%20500ml.jpg"
                alt="hinhanh"
                width="100"
                height="100"
              />
            </td>
            <td>3</td>
            <td>69000 vnd</td>
            <td>Chai</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>