<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/c74cffad295d4dddz4.jpg"
      alt="khaulenh"
    />
  </div>
  <div>
    <div class="list-product-header">
      <h1>Gói Nhu Yếu Phẩm ID: {{Goi_id}}</h1>
    </div>
    <div class="list-product-features">
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2 search-product"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="q"
        />
        <button
          class="btn btn-primary my-2 my-sm-0 list-product-button"
          type="submit"
        >Search</button>
      </form>
      {{!-- {{#if_eq_s role "manager" "admin"}}
        <a
          class="btn btn-primary covid-list-btn-add btn-sm list-product-button"
          href="/list-product/add"
          role="button"
        >Add product</a>
      {{/if_eq_s}} --}}
      <form action="" method="GET">
        <select
          class="form-select covid-list-select list-product-button"
          aria-label="Default select example"
          onchange="this.form.submit()"
          name="sort"
        >
          <option selected>Sắp Xếp</option>
          <option value="">Mặc Định</option>
          <option value="ASC">Tên A-Z</option>
          <option value="DESC">Tên Z-A</option>
        </select>
      </form>
    </div>
    <div class="list-product-list">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Product ID</th>
            <th scope="col">Tên Sản Phẩm</th>
            <th width="30%" scope="col">Hình Ảnh</th>
            <th scope="col">Giá Tiền</th>
            <th scope="col">Giới hạn sản phẩm</th>
            <th scope="col">Đơn Vị Định Lượng</th>
            <th width="10%" scope="col">Chức Năng</th>
          </tr>
        </thead>
        <tbody>
          {{#each data}}
            <tr>
              <th scope="row">{{this.SP_id}}</th>
              <td>{{this.ten}}</td>
              <td>
                {{#each this.links}}
                  <img
                    src="{{this}}"
                    alt="hinhanh"
                    width="100px"
                    height="100px"
                  />
                {{/each}}
              </td>
              <td>{{this.gia}}</td>
              <td>{{this.gioihan_sp}}</td>
              <td>{{this.donvi}}</td>
              <td>
                <div class="list-product-action">
                  <a
                    class="btn btn-primary covid-list-btn-add btn-sm"
                    href="/list-product/edit/{{this.SP_id}}"
                    role="button"
                  >Edit</a>
                  <form
                    action="/package-product/view/{{this.Goi_id}}/delete/{{this.SP_id}}?_method=DELETE"
                    method="POST"
                  >
                    <button
                      class="btn btn-primary covid-list-btn-add btn-sm"
                      role="button"
                      type="submit"
                    >Delete</button>

                  </form>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>