<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/c74cffad295d4dddz4.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="detail-covider-header">
    <h1>Thêm thông tin người liên quan covid </h1>
    <a
      class="btn btn-primary button detail-covider-back"
      href="/manager/related-covid/list/"
      role="button"
    >Go back list</a>
  </div>
  <form
    name="formAddCovider"
    onsubmit="return validateFormAddCovider()"
    class="add-covider"
    method="POST"
    action=""
  >
    <div class="form-group">
      <label for="formGroupExampleInput">Họ tên</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Trịnh Văn Minh"
        name="hoten"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Số CMND / Căn cước công dân</label>
      <input
        type="number"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="245xxxxxx"
        name="cccd"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Năm sinh</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="YYYY/MM/dd"
        name="namsinh"
      />
    </div>
    <div class="form-group">
      <span>Địa chỉ nơi ở: </span>
      <select name="city">
        <option>--Select Tỉnh/TP</option>
        {{#each dataAddress}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
      <select name="district">
        <option>--Select Huyện</option>
        {{#each dataDistrict}}
        <option  value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
      <select name="ward">
        <option>--Select Xã</option>
        {{#each dataWard}}
        <option  value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Trạng thái hiện tại </label>
      <select name="trangthai">
        <option value="F0">
          F0
        </option>
        <option value="F1">
          F1
        </option>
        <option value="F2">
          F2
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Nơi đang điều trị: </label>
      {{#unless DSnoidieutri}}
        link tới chổ thêm nơi điều trị
      {{else}}
        <select name="dieutri_id">
          <option>
            -- Chọn nơi điều trị
          </option>
          {{#each DSnoidieutri}}
            <option value="{{this.DieuTri_id}}">
              <p>{{this.ten}} / {{this.DieuTri_diachi}}</p>
            </option>
          {{/each}}
        </select>
      {{/unless}}
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Có liên quan với bệnh nhân</label>
      {{#unless DSNguoi}}
        link tới chổ thêm nguoi
      {{else}}
        <div class="multiselect">
          <div class="selectBox" onclick="showCheckboxes()">
            <select>
              <option>-- Chọn người liên quan</option>
            </select>
            <div class="overSelect"></div>
          </div>
          <div id="checkboxes">
            {{#each DSNguoi}}
              <label for="{{this.Nguoi_id}}">
                <input
                  type="checkbox"
                  id="{{this.Nguoi_id}}"
                  value="{{this.Nguoi_id}}"
                  name="DS_nlq_id"
                />{{this.hoten}}
                /
                {{this.cccd}}
                /
                {{this.diachi}}</label>
            {{/each}}
          </div>
        </div>
      {{/unless}}
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Lịch sử quá trình được quản lý</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="F0 thành F1,..."
        name="lichsu"
      />
    </div>
    <input type="hidden" value="{{maxNguoiId}}" name="maxNguoiId" />
    <button type="submit" class="btn btn-primary add-covider-submit">Thêm Bệnh
      Nhân</button>
  </form>
</div>

<script>var expanded = false; function showCheckboxes() { var checkboxes =
  document.getElementById("checkboxes"); if (!expanded) {
  checkboxes.style.display = "block"; expanded = true; } else {
  checkboxes.style.display = "none"; expanded = false; } }</script>

<script>
  function validateFormAddCovider() { let hoten =
  document.forms["formAddCovider"]["hoten"].value; let cccd =
  document.forms["formAddCovider"]["cccd"].value; let namsinh =
  document.forms["formAddCovider"]["namsinh"].value; let diachi =
  document.forms["formAddCovider"]["diachi"].value; let trangthai =
  document.forms["formAddCovider"]["trangthai"].value; let dieutri_id =
  document.forms["formAddCovider"]["dieutri_id"].value; let lichsu =
  document.forms["formAddCovider"]["lichsu"].value; if (hoten == "") {
  alert("Vui lòng nhập tên bệnh nhân"); return false; } if (cccd == "") {
  alert("Vui lòng nhập số CMND / Căn cước công dân"); return false; } if
  (namsinh == "") { alert("Vui lòng nhập năm sinh"); return false; } if (diachi
  == "") { alert("Vui lòng nhập địa chỉ nơi ở"); return false; } if (trangthai
  == "") { alert("Vui lòng nhập trạng thái hiện tại"); return false; } if
  (dieutri_id == "") { alert("Vui lòng nhập nơi điều trị"); return false; } if
  (lichsu == "") { alert("Vui lòng nhập lịch sử quá trình được quản lý"); return
  false; } return true; }
</script>
