{{#unless data}}
  <div class="container-fluid">
    <h1>No Data</h1>
  </div>
{{else}}
  <div class="container-fluid">
    <div class="banner-list-covider">
      <img
        src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/67871893154d1d2dz2.jpg"
        alt="khaulenh"
      />
    </div>
    <div class="detail-covider-header">
      <h1>Thông tin chi tiết người bị covid</h1>
      <a
        class="btn btn-primary button detail-covider-back"
        href="/manager/related-covid/list/"
        role="button"
      >Go back list</a>
    </div>
    {{!-- <ul class="covid-list">
      {{#with data}}
        <li><b>Nguoi_id: </b>{{Nguoi_id}}</li>
        <li><b>hoten: </b>{{hoten}}</li>
        <li><b>cccd: </b>{{cccd}}</li>
        <li><b>diachi: </b>{{diachi}}</li>
        <li><b>trangthai: </b>{{trangthai}}</li>
        <li><b>ten: </b>{{ten}}</li>
      {{/with}}
    </ul> --}}
    <div class="detail-covid-table">
      <table class="table table-bordered">
        {{#with data}}
          <thead>
            <tr>
              <th width="20%" scope="col">Mục</th>
              <th scope="col">Thông Tin Người Bị Covid</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ID Covider</td>
              <td>{{Nguoi_id}}</td>
            </tr>
            <tr>
              <td>Họ và Tên</td>
              <td>{{hoten}}</td>
            </tr>
            <tr>
              <td>Số CMND/CCCD</td>
              <td>{{cccd}}</td>
            </tr>
            <tr>
              <td>Năm Sinh</td>
              <td>{{namsinh}}</td>
            </tr>
            <tr>
              <td>Địa Chỉ Hiện Tại</td>
              <td>{{diachi}}</td>
            </tr>
            <tr>
              <td>Trạng thái hiện tại</td>
              <td>{{trangthai}}</td>
            </tr>
            <tr>
              <td>Tên nơi đang điều trị</td>
              <td>{{ten}}</td>
            </tr>
            <tr>
              <td>Địa chỉ nơi đang điều trị</td>
              <td>{{DieuTri_diachi}}</td>
            </tr>
            <tr>
              <td>Lịch sử</td>
              <td>{{lichsu}}</td>
            </tr>
          </tbody>
        {{/with}}

      </table>
    </div>
    <div class="detail-covider-lienquan">
      <div class="detail-covider-lienquan-header">
        <h1>Danh Sách Thông Tin Người Tiếp Xúc với bệnh nhân này: </h1>
      </div>
      <div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Họ và Tên</th>
              <th scope="col">Số CMND/CCCD</th>
              <th scope="col">Năm Sinh</th>
              <th scope="col">Địa Chỉ Hiện Tại</th>
              <th scope="col">Trạng thái hiện tại</th>
              <th scope="col">Điều trị id</th>
              <th scope="col">Lịch sử</th>
            </tr>
          </thead>
          <tbody>
            {{#each lienquan}}
              <tr>
                <td>{{Nguoi_id}}</td>
                <td><a
                    href="/manager/related-covid/list/{{Nguoi_id}}"
                  >{{hoten}}</a></td>
                <td>{{cccd}}</td>
                <td>{{namsinh}}</td>
                <td>{{diachi}}</td>
                <td>{{trangthai}}</td>
                <td>{{dieutri_id}}</td>
                <td>{{lichsu}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{{/unless}}