
{{#unless data}}
<h1>Chưa có dữ liệu kìa bạn ơi</h1>
{{else}}
<h1>Thông tin chi tiết </h1>
<a class="btn btn-primary" href="/manager/related-covid/list/" role="button">Go back</a><ul class="covid-list">
  {{#with data}}
  <li><b>Nguoi_id: </b>{{Nguoi_id}}</li>
  <li><b>hoten: </b>{{hoten}}</li> 
  <li><b>cccd: </b>{{cccd}}</li> 
  <li><b>diachi: </b>{{diachi}}</li> 
  <li><b>trangthai: </b>{{trangthai}}</li> 
  <li><b>ten: </b>{{ten}}</li> 
{{/with}}
</ul>
{{/unless}}

