{{#unless data}}
  <div class="container-fluid">
    <h1>No Data</h1>
  </div>
{{else}}
  <div class="container-fluid">
    <div class="detail-covider-header">
      <h1>Thông tin chi tiết người bị covid</h1>
      <a
        class="btn btn-primary button detail-covider-back"
        href="/manager/related-covid/list/"
        role="button"
      >Go back list</a>
    </div>
    <ul class="covid-list">
      {{#with data}}
        <li><b>Nguoi_id: </b>{{Nguoi_id}}</li>
        <li><b>hoten: </b>{{hoten}}</li>
        <li><b>cccd: </b>{{cccd}}</li>
        <li><b>diachi: </b>{{diachi}}</li>
        <li><b>trangthai: </b>{{trangthai}}</li>
        <li><b>ten: </b>{{ten}}</li>
      {{/with}}
    </ul>
  </div>
{{/unless}}