<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/c74cffad295d4dddz4.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="detail-covider-header">
    <h1>Chỉnh sửa thông tin người liên quan covid </h1>
    <a
      class="btn btn-primary button detail-covider-back"
      href="/manager/related-covid/list/"
      role="button"
    >Go back list</a>
  </div>
  <form class="add-covider" method="POST" action="">

    <div class="form-group">
      <label for="formGroupExampleInput">Họ tên</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput"
        placeholder="Trịnh Văn Minh"
        name="hoten"
        value="{{user.hoten}}"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Số CMND / Căn cước công dân</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="245xxxxxx"
        name="cccd"
        value="{{user.cccd}}"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Năm sinh</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="YYYY/MM/dd"
        name="namsinh"
        value="{{formatTs user.namsinh}}"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Địa chỉ nơi ở</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="162 đường số 8, ...."
        name="diachi"
        value="{{user.diachi}}"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Trạng thái hiện tại </label>
      <select name="trangthai">
        <option {{ifeq user.trangthai "F0"}} value="F0">
          F0
        </option>
        <option {{ifeq user.trangthai "F1"}} value="F1">
          F1
        </option>
        <option {{ifeq user.trangthai "F2"}} value="F2">
          F2
        </option>
        <option {{ifeq user.trangthai "F3"}} value="F3">
          F3
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Nơi đang điều trị: </label>
      {{#unless DSnoidieutri}}
        link tới chổ thêm nơi điều trị
      {{else}}
        <select name="dieutri_id">
          {{#each DSnoidieutri}}
            <option
              {{#if this.selected}}selected{{/if}}
              value="{{this.DieuTri_id}}"
            >
              <p>{{this.ten}} / {{this.DieuTri_diachi}}</p>
            </option>
          {{/each}}
        </select>
      {{/unless}}
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Có liên quan với bệnh nhân</label>
      {{#unless this.DSNguoi}}
        link tới chổ thêm nguoi
      {{else}}
        <select name="Nguoi_id">
          <option>
            -- Chọn người liên quan
          </option>
          {{#each DSNguoi}}
            <option value="{{this.Nguoi_id}}">
              <p>{{this.hoten}} / {{this.cccd}} / {{this.diachi}}</p>
            </option>
          {{/each}}
        </select>
      {{/unless}}
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Lịch sử quá trình được quản lý</label>
      <input
        type="text"
        class="form-control"
        id="formGroupExampleInput2"
        placeholder="F0 thành F1,..."
        name="lichsu"
        value="{{lichsu}}"
      />
    </div>

    <button type="submit" class="btn btn-primary add-covider-submit">Sửa thông
      tin</button>
  </form>
</div>