
{{#unless data}}
<h1>Chưa có dữ liệu kìa bạn ơi</h1>
{{else}}
<h1>List danh sách người liên quan </h1>
<nav class="navbar navbar-light bg-light">
  <form class="form-inline" action="", method="GET">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
<a class="btn btn-primary" href="/manager/related-covid/add" role="button">Add new user</a>
<ul class="covid-list">
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Status</th>
      <th scope="col">Nơi điều trị</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <th scope="row">{{this.Nguoi_id}}</th>
      <td><a href="/manager/related-covid/list/{{this.Nguoi_id}}">{{this.hoten}}</a></td>
      <td>{{this.trangthai}}</td>
      <td>{{this.ten}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</ul>
{{/unless}}

