{{#unless data}}
  <div class="container-fluid">
    <h1>Dữ Liệu Này Không Tồn Tại Trong DataBase</h1>
  </div>
{{else}}
  <div class="container-fluid">
    <div class="banner-list-covider">
      <img
        src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/c9e3d2ba15c4bb2dz1.jpg"
        alt="khaulenh"
      />
    </div>
    <h1>List danh sách người liên quan Covid-19</h1>
    <div class="covid-list-nav">
      <nav class="navbar navbar-light bg-light">
        <form id="search-sort-form" class="form-inline" method="GET">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
            name="q"
            width="400px"
          />
          <button
            class="btn btn-primary my-2 my-sm-0"
            type="submit"
          >Search</button>
        </form>
      </nav>

      <form action="" method="GET">
        <select
          class="form-select covid-list-select"
          aria-label="Default select example"
          onchange="this.form.submit()"
          name="sort"
        >
          <option selected>Sắp Xếp</option>
          <option value="">Mặc Định</option>
          <option value="ASC">Tên A-Z</option>
          <option value="DESC">Tên Z-A</option>

        </select>
      </form>
      {{#if_eq_s role "manager" "admin"}}
        <a
          class="btn btn-primary covid-list-btn-add btn-sm"
          href="/manager/related-covid/add"
          role="button"
        >Add new user</a>
      {{/if_eq_s}}

    </div>
    <ul class="covid-list">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Họ Và Tên</th>
            <th scope="col">Trạng Thái</th>
            <th scope="col">Nơi điều trị</th>
            {{#if_eq_s role "manager" "admin"}}
              <th scope="col">Hành động</th>
            {{/if_eq_s}}
          </tr>
        </thead>
        <tbody>
          {{#each data}}
            <tr>
              <th scope="row">{{this.Nguoi_id}}</th>
              <td><a
                  href="/manager/related-covid/list/{{this.Nguoi_id}}"
                >{{this.hoten}}</a></td>
              <td>{{this.trangthai}}</td>
              <td>{{this.ten}}</td>
              {{#if_eq_s role "manager" "admin"}}
                <td><a
                    type="button"
                    class="btn btn-link"
                    href="/manager/related-covid/edit/{{this.Nguoi_id}}"
                  >edit</a>
                  /
                  <form
                    style="display:inline-block"
                    id="delete"
                    method="POST"
                    action="/manager/related-covid/delete/{{this.Nguoi_id}}?_method=DELETE"
                  ><button
                      type="submit"
                      class="btn btn-link"
                    >delete</button></form></td>
              {{/if_eq_s}}
            </tr>
          {{/each}}
        </tbody>
      </table>
      <nav aria-label="Page navigation" class="covid-list-pagination">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a
              class="page-link"
              href="/manager/related-covid/list?page=1"
            >1</a></li>
          <li class="page-item"><a
              class="page-link"
              href="/manager/related-covid/list?page=2"
            >2</a></li>
          <li class="page-item"><a
              class="page-link"
              href="/manager/related-covid/list?page=3"
            >3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </ul>
  </div>
{{/unless}}