<div class="container-fluid">
  <div class="banner-list-covider">
    <img
      src="https://nhuxuan.thanhhoa.gov.vn/portal/Photos/2021-08-26/67871893154d1d2dz2.jpg"
      alt="khaulenh"
    />
  </div>
  <div class="detail-covider-header">
    <h1>Thêm nhu yếu phẩm cần thiết cho điều trị covid </h1>
    <a
      class="btn btn-primary button detail-covider-back"
      href="/list-product"
      role="button"
    >Go back list</a>
  </div>
  {{#if product}}
    <form
      enctype="multipart/form-data"
      class="add-covider"
      method="POST"
      action="/list-product/edit/{{product.id}}?_method=PUT"
    >
      <div class="form-group">
        <label for="formGroupExampleInput">Tên Sản Phẩm</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Gạo"
          value="{{product.productName}}"
          name="ten"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Hình ảnh minh họa</label>
        <input
          type="file"
          class="file-upload"
          id="formGroupExampleInput2"
          name="hinhanh"
          {{!-- value="{{product.images}}" --}}
          accept="image/*"
          multiple="true"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Giá Tiền</label>
        <input
          type="number"
          class="form-control"
          id="formGroupExampleInput2"
          value="{{product.price}}"
          placeholder="100000 vnd"
          name="gia"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Đơn Vị Định Lượng</label>
        <select name="donvi">
          <option {{ifeq product.quantitative "KG"}} value="Kg">
            KiloGram (KG)
          </option>
          <option {{ifeq product.quantitative "Gram"}} value="Gram">
            Gram (gr)
          </option>
          <option {{ifeq product.quantitative "L"}} value="L">
            Lit (L)
          </option>
          <option {{ifeq product.quantitative "Ml"}} value="Ml">
            MiliLit (ml)
          </option>
          <option {{ifeq product.quantitative "Chai"}} value="Chai">
            Chai
          </option>
          <option {{ifeq product.quantitative "Bó"}} value="Bó">
            Bó
          </option>
          <option {{ifeq product.quantitative "Thùng"}} value="Thùng">
            Thùng
          </option>
          <option {{ifeq product.quantitative "Hộp"}} value="Hộp">
            Hộp
          </option>
          <option {{ifeq product.quantitative "Cây"}} value="Cây">
            Cây
          </option>
          <option {{ifeq product.quantitative "Cái"}} value="Cái">
            Cái
          </option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary add-covider-submit-1">Sửa nhu
        yếu phẩm</button>
    </form>
  {{/if}}
</div>